# Traefik v3 Configuration

api:
  dashboard: true
  insecure: true  # Dashboard на :8080 без auth (только локалка)

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik-net

log:
  level: DEBUG

accessLog: {}

certificatesResolvers:
  cloudflare:
    acme:
      email: "andrejborisenko@fastmail.com"
      storage: /acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
