# Traefik v3 Configuration

api:
  dashboard: true
  insecure: true  # Dashboard на :8080 без auth (только локалка)

entryPoints:
  web:
    address: ":80"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik-net

log:
  level: INFO

accessLog: {}
